.card-main-text {
  font-size: 24px;
}

.card-detail {
  position: relative;
  .card-nav-prev {
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: -12px;
    margin-top: -36px;
    cursor: pointer;
  }
  .card-nav-next {
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: -12px;
    margin-top: -36px;
    cursor: pointer;
  }
  .icon {
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 25px;
  }
}
