.green-sea {
  background-color: #17ab8e !important;
}

.nephritis {
  background-color: #27ae60 !important;
}

.belize-hole {
  background-color: #2980b9 !important;
}

.wisteria {
  background-color: #8e44ad !important;
}

.midnight-blue {
  background-color: #8e44ad !important;
}
