.folder-detail {
  //for html2canvas
  //https://github.com/MrRio/jsPDF/issues/247
  background-color: #e5e5e5;
}
.card-container {
  //todo, find a better way to hide code mirror overflow
  //todo, find a better way to prevent code mirror scrolling
  overflow: hidden;
  margin-bottom: 20px;
}
