body {
  background-color: #E5E5E5;
  padding-top: 50px;
  position: relative !important;
}

#mc_embed_signup {
  .hidden-input {
    position: absolute;
    left: -5000px;
  }

}

.main {
  width:100%;
  height:100%;

  .homeTopic-wrapper {
    margin-bottom:100px;
  }

  .home-hot-topic-title {
    font-weight:bold;
  }

  .homeTopic-inner-block {
    background-color:#F5F5F5;
    padding:5px;
  }

  .homeTopic-image {
    width:100%;
  }

  .homeTopic-inner-title {
    padding-top:10px;
    padding-left:20px;
    padding-right:20px;
  }

  .homeTopic-inner-content {
    padding-top:20px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
  }

  .home-search {
    width: 100%;
    height: 60px;
    background-color:#F5F5F5;
    position: relative;

    .home-search-input {
      width: 100%;
      height: 100%;
      font-size:140%;
      border:none;
      margin-bottom: 0;
    }

    .home-search-button {
      position: absolute;
      height: 100%;
      right: 0;
      border:none;
      color:white;
      font-size:160%;
      background-color:black;
    }
  }


}


.card-panel {
  border: 0;
  border-radius: 0;
  background-color: transparent;

  .card-panel-body {
    display: table;
    min-height: 150px;
    padding: 0;
    text-align: center;

    .card-row {
      display: table-row;
      height: 100%;
      background-color: #F5F5F5;
      &:before, &:after {
        //remve bootstrap default
        content: none;
      }

      .card-col {
        display: table-cell;
        float: none;
        vertical-align: middle;
      }

      .card-left-col {
        //blank for now
      }

      .card-right-col {
        background-color: #FFFFFF;
        position: relative;
        text-align: left;
        vertical-align: top;
        .card-right-bottom-col {
          position: absolute;
          bottom: 0;
          right: 2px;
        }
      }
    }
  }
}



//http://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout
//https://stackoverflow.com/questions/18516317/vertically-align-an-image-inside-a-div-with-responsive-height
.card-pop {
  .square {
    &:before {
      content: "";
      display: block;
      padding-top: 100%; /* initial ratio of 1:1*/
    }
    .square-inner {
      position: absolute;
      top:      0;
      left:     0;
      bottom:   0;
      right:    0;

      // overflow: hidden; //just for image

      &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;  /* vertical alignment of the inline element */
        height: 100%;
      }

      img {
        max-height:100%;
        max-width:100%;
        vertical-align: middle;
        display: inline-block;
      }
    }
  }

  .card-row {
    position: relative;
    .card-nav-prev {
      position: absolute;
      top: 50%;
      left: 0;
      margin-left: -12px;
      margin-top: -36px;
      cursor: pointer;
    }
    .card-nav-next {
      position: absolute;
      top: 50%;
      right: 0;
      margin-right: -12px;
      margin-top: -36px;
      cursor: pointer;
    }
    .icon {
      width: 50px;
      height: 50px;
      font-size: 24px;
      line-height: 50px;
      text-align: center;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 25px;
    }
  }
}


.green-sea {
  background-color: #17ab8e !important;
}

.nephritis {
  background-color: #27ae60 !important;
}

.belize-hole {
  background-color: #2980b9 !important;
}

.wisteria {
  background-color: #8e44ad !important;
}

.midnight-blue {
  background-color: #8e44ad !important;
}

.profile-card {
  a {
    text-decoration: none !important;
    color: #333;
  }

  ul, ol {
    margin: 0px;
    }

  /***item-1 Login box*********************************************************************/

  .item-1 {
      width: 100%;
      height: auto;
      background: #25A9CC;

      -moz-box-shadow: 0 0 5px #000;
      -webkit-box-shadow: 0 0 5px#000;
      box-shadow: 0 0 5px #000;
    }

  .item-1 h1 {
    font-size: 24px;
    margin-top: 0px;
    }

  .img-container {
    width: 100%;
    height: 150px;
    text-align: center;
    }

  .img-container a {
    margin: 0px auto;
    text-align: center;
    }

  .img-container a img {
    border-radius: 50%;
    border: 3px solid #fff;
    margin-top: 20px;
    }

  .robin-key {
    width: 100%;
    height: auto;
    background: #fff;
    float: left;
    }

  .robin-key p {
    font-size: 15px;
    color: #828282;
    float: left;
    line-height: 42px;
    margin-bottom: 0px;
    margin-left: 20px;
    }

  .robin-key ul {
    float: right;
    margin: 0px;
    padding: 0px;
    }

  .robin-key ul li {
    padding: 4px 12px;
    margin-top: 6px;
    border-right: 1px solid #ddd;
    color: #3f4c6b;
    list-style: none;
    float: left;
    }

  .robin-key ul li a {
    color: #3f4c6b;
    }

  .robin-key ul li a:hover {
    color: #242D3F;
    }

  .robin-key ul li:last-child {
    border-right: none;
    }

  ul.follow-list {
    margin: 0px;
    padding: 0px;
    background: #3f4c6b;
    width: 100%;
    }

  ul.follow-list li {
    width: 25%;
    float: left;
    list-style: none;
    padding: 8px 0px;
    background: #111F28;
    }

  ul.follow-list li a {
    padding: 2px 14px;
    display: inline-block;
    color: #fff;
    font-size: 13px;
    border-right: 1px solid #1C3544;

    }

  ul.follow-list li:last-child a {
    border-right: none;
    }
  center, center *{ color: #ffffff !important; font-size:14pt; }
}
