#mc_embed_signup {
  input {
    height: 30px;
  }

  .email {
    //fix a off by 1 px issue with inline-block
    display: block;
    float: left;
    margin-right: 5px;
    min-width: 200px;
  }

  .hidden-input {
    position: absolute;
    left: -5000px;
  }


}
