.monkey-code-container {
  width: 100%;
  font-size: 18px;
  //http://stackoverflow.com/questions/26697732/how-to-resize-codemirror-instance-to-the-full-height-of-parent-object
  .CodeMirror {
    width: 100% !important;
    height: 100% !important;
  }
}
