.rectangle {
  background-color: #F5F5F5;
  position: relative;
  width: 100%;
  padding-top: 50%;
  .content {
    position: absolute;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;
    display: flex;
    .left,
    .right {
      flex: 1 0 0px;
      display: flex;
    }
    .left {
      justify-content: center;
      align-items: center;
    }
  }
}
