.card-new-container{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px; //compensate for bootstrap
  .card-new-container-item{
    flex: 1 0 0px;
  }
  .card-url-input {
    width: 90%;
    height: 34px;
    margin-bottom: 5px;
  }
}
